.container {
    display: flex;
    flex-direction: column;
}

.messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 10px;
    overflow-y: scroll;
    height: 60vh;
    background-color: lightcyan;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.user-message, .ai-message {
    width: 60%;
    position: relative;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    
}

.user-message {
    background-color:beige;
    border: 2px solid gold;
    margin-right: 5px;
    align-self: flex-end;
}


.ai-message {
    background-color: bisque;
    border: 2px solid rebeccapurple;
    margin-left: 5px;
    align-self: flex-start;
}

.chat-window {
    height: 15vh;
    background-color:lightgreen;
    display: flex;
    flex-direction: column;
}

h1 {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: chocolate;
    height: 12vh;
}

textarea {
    background-color: wheat;
    width: 70%;
    height: 60%;
    margin-top: 5px;
    font-size: 1rem;
    align-self: flex-end;
}